body {
  font-family: Lato, sans-serif;
  color: #fff;
  text-align: center;
}

h2 {
  font-size: 30px;
  font-weight: 400;
}

h3 {
  font-size: 15px;
  font-weight: 400;
}

section {
  padding: 45px 0 40px;
  background-color: rgb(64 151 250);
}

.heading {
  margin-bottom: 40px;
}

.container {
  display: flex;
  width: 1024px;
  margin: 0 auto;
  justify-content: center;
}

.offerings {
  flex-basis: calc(100%/3);
}

.offerings > h3 {
  margin-top: 24px;
  margin-bottom: 16px;
}

.offerings > p {
  font-size: 16px;
  line-height: 20px;
  color: rgb(183 255 214);
}

.icons {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  align-items: center;
  border-radius: 50%;
  background-color: white;
}

.icons > img {
  width: 50%;
}
